@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling {
  0% { background-position: 50px 50px; }
}
body{
  margin: 0%;
  font-family: 'Exo', sans-serif;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

.heading {
  background-color: black;
  height: 10%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1%;
  margin: 0%;
}

.namecontainer {
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding-left: 2%;
  padding-top: 1%;
}

.mainbartitle {
  color: aliceblue;
  margin-bottom: 0%;
  font-size: 10px;
}

.mainportfolio {
  color: aliceblue;
  margin-top: 0px;
  align-self: center;
  font-size: 100%;
  padding-right: 45px;
}

.logo {
  color: aliceblue;
  justify-content: center;
  padding-left: 8%;
  padding-top: 1%;
  text-align: center;
  width: 60vw;
  align-items: center;
  font-size: 1cm;
  font-family: 'Exo', sans-serif;
}

.constlogo {
  color: rgb(12, 170, 233);
  font-size: 50% 
}

.equals {
  font-size: 50%;
}

.arrow {
  color: red;
}

.medialinks {
  display: flex;
  padding-top: 10px;
  width: 10%;
  padding-right: 5vh;
}

.githublogo, .instalogo, .linkedinlogo{
  width: 40%;
  color: aliceblue;
  padding-left: 10px;
  height: 70%;
}

.sboxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
}

div1 {
  width: 30vw;
  display: flex;

}

div2 {
  width: 30% ;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10vh;
  padding-left: 10vw;
  padding-right: 30vw;
}

div3 {
  width: 50vw;
  display: flex;

}

button {
  display: flex;
  height: 4cm;
  width: 4cm;
  margin: 2px;
  border-radius: 5px;
  align-content: center;
  font-size: 100%;
  background-color: black;
  color: white;
  font-family: 'Exo', sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

#portfoliobutton {
  padding-left: 3.5vw;
  padding-top: 10vh;
}

#aboutbutton {
  padding-left: 4vw;
  padding-top: 10vh;
}

#contactbutton {
  padding-left: 4vw;
  padding-top: 10vh;
}

#skillsbutton {
  padding-left: 2.6vw;
  padding-top: 8vh;
}