@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body{
  margin: 0%;
  font-family: 'Crimson Pro', serif;
}

.heading {
  background-color: black;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1%;
  margin: 0%;
}

.namecontainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.mainbartitle {
  color: aliceblue;
  margin-bottom: 0%;
  font-size: 100%;
}

.mainportfolio {
  color: aliceblue;
  margin-top: 0px;
  align-self: center;
  font-size: 100%;
  padding-right: 1.8cm;
}

.logo {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  padding-left: 38%;
  font-size: 1cm;
  font-family: 'Titillium Web', sans-serif;
}

.constlogo {
  color: rgb(12, 170, 233);
  font-size: 50% 
}

.equals {
  font-size: 50%;
}

.arrow {
  color: red;
}

.medialinks {
  padding-left: 30%;
  padding-top: 10px;
}

.githublogo, .instalogo, .linkedinlogo{
  width: 1cm;
  color: aliceblue;
  padding-left: 10px;
}

.sboxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: white;
  height: 100vh;
}

div1 {
  width: 20vw;
  display: flex;

}

div2 {
  width: 59vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10vh;
}

div3 {
  width: 20vw;
  display: flex;

}

button {
  display: flex;
  height: 29vh;
  width: 29vw;
  margin: 2px;
  border-radius: 5px;
  align-content: center;
  font-size: 1cm;
  background-color: white;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}